<!-- Álvarez Suárez María.-->

<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="/img/icono.png"> 
  <title>Administración</title>

  <link href="/bs/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/headerfooter.css" rel="stylesheet">
</head>

<body>

  <header id="header2">
	<object id="objHeader" th:insert="header::header" th:with="currentPage='administracion'"></object> 
  </header>


  <main class="container">

  	<div class="my-3 p-3 bg-body rounded shadow-sm">
        
    	<div class="row mb-5">
        	<h1>ADMINISTRACIÓN</h1>
      	</div>
		
		<div class="m-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/administracion">Administración</a></li>
                    <li class="breadcrumb-item"><a href="/administracion/comentarios">Comentarios</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editar Comentario</li>
                </ol>
            </nav>
        </div>


      	<div class="row">
            <div class="col-5 mx-auto">
                <form class="my-3 p-3 bg-body rounded shadow-sm" th:action="@{/administracion/comentarios/edit/{id}(id=${comentario.idcomentario})}"  method="post">
                    <div class="d-flex pt-3">
                        <label for="idcomentario">Id</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="number" id="idcomentario" name="idcomentario" th:value="${comentario.idcomentario}"  oninvalid="this.setCustomValidity('Id obligatorio')" required readonly/>
                    </div>
                    
                    <div class="d-flex pt-3">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="nombre" name="nombre" th:value="${comentario.nombre}"  oninvalid="this.setCustomValidity('Nombre obligatorio')" required/>
                    </div>
                    
                    <div class="d-flex pt-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="email" name="email" th:value="${comentario.email}"  oninvalid="this.setCustomValidity('Email obligatorio')" required/>
                    </div>
        
                    <div class="d-flex pt-3">
                        <label for="texto">Texto</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="texto" name="texto" th:value="${comentario.texto}" oninvalid="this.setCustomValidity('Texto obligatorio')" required />
                    </div>
                    
                    <div class="d-flex pt-3">
                        <label for="fecha">Fecha</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="date" id="fecha" name="fecha" th:value="${comentario.fecha}"  oninvalid="this.setCustomValidity('Fecha obligatorio')" required/>
                    </div>
        
                    <div class="d-flex pt-3">
                        <label for="hora">Hora</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="time" id="hora" name="hora" th:value="${comentario.hora}" oninvalid="this.setCustomValidity('Hora obligatorio')" required />
                    </div>
        
                    <div class="d-flex pt-3">
                        <input type="submit" th:value="Guardar" />
                    </div>
                    
                    <div class="d-flex pt-3">
                        <a class="enlace" href="/administracion/comentarios" target="_top">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
      



  </main>
  

  <footer id="footer2">
    <object id="objFooter" th:insert="footer::footer"></object> 
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/bs/js/bootstrap.bundle.min.js"></script>

</body>

</html>