<!-- Álvarez Suárez María.  -->

<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="/img/icono.png"> 
  <title>Administración</title>

  <link href="/bs/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/headerfooter.css" rel="stylesheet">
</head>

<body>

  <header id="header2">
	<object id="objHeader" th:insert="header::header" th:with="currentPage='administracion'"></object> 
  </header>


  <main class="container">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        
      <div class="row mb-5">
        <h1>ADMINISTRACIÓN</h1>
      </div>
      
      <div class="m-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/administracion">Administración</a></li>
                    <li class="breadcrumb-item"><a href="/administracion/hoteles">Hoteles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editar Hotel</li>
                </ol>
            </nav>
        </div>

		<div class="row">
            <div class="col-5 mx-auto">
                <form class="my-3 p-3 bg-body rounded shadow-sm" th:action="@{/administracion/hoteles/edit/{id}(id=${hotel.idhotel})}" method="post">
                    
                    <div class="d-flex pt-3">
                        <label for="idhotel">Id</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="number" id="idhotel" name="idhotel" th:value="${hotel.idhotel}"  oninvalid="this.setCustomValidity('Id obligatorio')" required readonly />
                    </div>
                    
                    <div class="d-flex pt-3">
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="nombre" name="nombre" th:value="${hotel.nombre}" oninvalid="this.setCustomValidity('Nombre obligatorio')" required />
                    </div>
                    
                    <div class="d-flex pt-3">
						<label for="hotel">Categoria</label>
					</div>
					<div class="d-flex pt-3">
						<select id="idcategoria" name="idcategoria" >
						    <option th:each="categoria : ${categorias}" th:value="${categoria.idcategoria}" th:text="${categoria.estrellas}" th:selected="${hotel.categoria.idcategoria == categoria.idcategoria}">Categoria del hotel</option>
						</select>
					</div>  
					
					<div class="d-flex pt-3">
                        <label for="imagen">Imagen</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="imagen" name="imagen" th:value="${hotel.img}" oninvalid="this.setCustomValidity('Imagen obligatorio')" required />
                    </div> 
        
                    <div class="d-flex pt-3">
                        <label for="descripcion">Descripción</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="descripcion" name="descripcion" th:value="${hotel.descripcion}" oninvalid="this.setCustomValidity('Descripción obligatorio')" required />
                    </div>
                    
                    <div class="d-flex pt-3">
                        <label for="direccion">Dirección</label>
                    </div>
                    <div class="d-flex pt-3">
                        <input type="text" id="direccion" name="direccion" th:value="${hotel.direccion}" oninvalid="this.setCustomValidity('Dirección obligatorio')" required />
                    </div>
        
                    <div class="d-flex pt-3">
                        <input type="submit" th:value="Guardar" />
                    </div>
                   
                    <div class="d-flex pt-3">
                        <a class="enlace" href="/administracion/hoteles" target="_top">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>    




  </main>
  

  <footer id="footer2">
    <object id="objFooter" th:insert="footer::footer"></object> 
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/bs/js/bootstrap.bundle.min.js"></script>

</body>

</html>