<!-- Álvarez Suárez María. -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1" />
    <!-- <link rel="icon" href="img/icono.png" /> -->
    <title>Asturias - Recepción</title>
    <link type="text/css" rel="stylesheet" href="/bs/css/bootstrap.min.css" />
    <link href="/css/headerfooter.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header2">
      <object id="objHeader" th:insert="header::header" th:with="currentPage='recepcion'"></object> 
    </header>

    <main class="container">
      <div class="my-3 p-3 bg-body rounded shadow-sm">

        <div class="row mb-5">
          <h1>RECEPCIÓN</h1>
        </div>
        
        <div class="m-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/recepcion">Recepción</a></li>
                    <li class="breadcrumb-item"><a href="/recepcion/reservas">Reservas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Error Reserva</li>
                </ol>
            </nav>
        </div>
        
        <div class="row">
           
           No nos quedan suficientes habitaciones para las fechas seleccionadas, por favor inserte otras.
            <a class="enlace" th:href="@{/recepcion/nuevareserva(idusuario=${idusuario}, idhotel=${idhotel})}" target="_top">Volver a reservar</a>
        </div>
        



      </div>
    </main>

    <footer id="footer2">
      <object id="objFooter" th:insert="footer::footer"></object> 
    </footer>

    <script src="/bs/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
