/** Álvarez Suárez María. **/

img{
    height: 100%;
    width: 100%;
}

/** calendario**/

.disponible-verde{
	background-color: #C9FCBF;
}

.disponible-amarillo{
	background-color: #FBFF9D;
}

.disponible-naranja{
	background-color: #FFCD9D;
}

.disponible-rojo{
	background-color: #FB7171;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top; 
/**    width: 100px; **/
    width: 14%;
    height: 100px;
}

th {
    width: 14%;
    height: 30px; 
    text-align: center;
    background-color: #f2f2f2;
}

td:hover {
    background-color: #f5f5f5;
}